@model Product

<div class="card" style="width:18rem">
    <img src="@Model.ImageUrl" alt="@Model.Name" />
    <h4>@Model.Name</h4>
    <p>@Model.Description</p>
    <p><strong>Price:</strong> @Model.Price ₫</p>
    <p><strong>Quantity:</strong> @Model.Quantity</p>
    <p><strong>Brand:</strong> @Model.Brand</p>
    <p><strong>Size:</strong> @Model.Size</p>
    <p><strong>Status:</strong> @Model.Status</p>
    <p><strong>Created At:</strong> @Model.CreatedAt</p>
    <button class="btn btn-primary">Add to Cart</button>
</div>
