@model IEnumerable<Asm1_WebMVC_vinhttph19362.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    
        <h2 class="text-center fw-bold">Tin Tức Nổi Bật</h2>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <img src="https://images.fpt.shop/unsafe/fit-in/300x200/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/3/17/638146902227206696_750x500-2x.png" />
                <h3>Giá sốc cuối tuần, FPT Shop giảm giá đến hơn 50% và ưu đãi trả góp 0% cho nhiều sản phẩm</h3>
            </div>
            <div class="col-lg-6">
                <img src="https://images.fpt.shop/unsafe/fit-in/300x200/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/3/17/638146879056284181_chi-co-n.png" />
                <h3 class="news__item__tit">Xiaomi ‘lên kệ’ robot hút bụi mới, ưu đãi đến 4,99 triệu đồng và trả góp 0% tại FPT shop</h3>
            </div>
        <div class="col-lg-6">
            <img src="https://images.fpt.shop/unsafe/fit-in/300x200/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/3/17/638146902227206696_750x500-2x.png" />
            <h3>Giá sốc cuối tuần, FPT Shop giảm giá đến hơn 50% và ưu đãi trả góp 0% cho nhiều sản phẩm</h3>
        </div>
        <div class="col-lg-6">
            <img src="https://images.fpt.shop/unsafe/fit-in/300x200/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/3/17/638146879056284181_chi-co-n.png" />
            <h3 class="news__item__tit">Xiaomi ‘lên kệ’ robot hút bụi mới, ưu đãi đến 4,99 triệu đồng và trả góp 0% tại FPT shop</h3>
        </div>
        </div>
        <hr />
        <br />
        @*<h3 style="text-align:center">Danh sách sản phẩm</h3>
    <div class="row">
        @if (Model != null && Model.Any())
        {
            @foreach (var product in Model)
            {
                <div class="col-md-3 col-6">
                    <img src="@product.ImageUrl" alt="@product.Name" />
                    <h4>@product.Name</h4>
                    <p>@product.Description</p>
                    <p><strong>Price:</strong> @product.Price ₫</p>
                    <p><strong>Quantity:</strong> @product.Quantity</p>
                    <p><strong>Brand:</strong> @product.Brand</p>
                    <p><strong>Size:</strong> @product.Size</p>
                    <p><strong>Status:</strong> @product.Status</p>
                    <p><strong>Created At:</strong> @product.CreatedAt</p>
                    <button class="btn btn-primary">Add to Cart</button>
                </div>
            }
        }
        else
        {
            <div class="col-md-12">
                <p>No data available.</p>
            </div>
        }
    </div>*@
    


    <br />
        </div>
        </div>
